body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
  /**background-color: #E4F9F5;**/
  background-color: white;
  color: green;/*#40514E*/;
}


h1 {
  font-size: 5rem;
  color: #66BFBF;
  width: 60%;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
  font-family: 'Montserrat', sans-serif;
  line-height: 2;
  text-align: center;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
  margin-top: 50px;
  margin-bottom: 0;
}

hr {
  border: dotted grey 6px;
  border-bottom: none;
  width: 30%
}

a {
  margin: 10px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 120px
}

.bottom-container {
  background-color: #66BFBF;
  height: 80px;
  padding: 20px 0 0 0;
  font-family: 'Montserrat', sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 100px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 30%
}

.bottom-cloud {
  position: absolute;
  left: 30%
}

.footer-link {
  color: #11999E
}

/** old version
.btn {
  color: #11999E
}**/
.btn {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-family: Helvetica;
  font-size: 40px;
  font-weight: 100;
  padding: 31px;
  background-color: #3D94F6;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}

.face {
  width: 50%
}

.responsibility {
  width: 30%;
  float: right;
  margin-left: 20px;
}

.independent {
  width: 30%;
  float: left;
  margin-right: 40px;
}

.profile {
  width: 50%;
  margin: 0 auto 0 auto;
  line-height: 2
}

.skills {
  width: 50%;
  margin: 0 auto 0 auto;
  line-height: 2;
  text-align: left;
}

.skill-row {
  margin-top: 30px
}

.skill-row2 {
  margin-top: 30px;
  text-align: right;
}

.contact-me {
  line-height: 2
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  margin-top: 10px;
}
